#section5 {
    padding: 120px 50px 0 50px;
    height: 100vh;
}
#section5 .profile__tit {
    font-size: 7.9vw;
    letter-spacing: -1px;
    font-weight: bold;
}

#section5 .profile__inner {
    display: flex;
    width: 100%;
}

#section5 .profile__inner .left {
    width: 50%;
}

#section5 .profile__inner .left .profile__img {
    width: 36vw;
    height: 40vw;
    background-color: #000;
    border-radius: 5px;
    background-image: url("../../img/Group\ 47.png");
    background-position: center;
    background-size: contain;
    overflow: hidden;
}

#section5 .profile__inner .right {
    width: 50%;
}

#section5 .profile__inner .right .contents__wrap {
    width: 100%;
    font-family: var(--font-s-core);
}

#section5 .profile__inner .right .contents__wrap .contents {
    display: flex;
    padding: 4% 0;
}
#section5 .profile__inner .right .contents__wrap .contents.c1 {
    padding-top: 2%;
}
#section5 .profile__inner .right .contents__wrap .contents.c3 {
  
}

#section5 .profile__inner .right .contents__wrap .contents .num {
    width: 10%;
    font-size: 1.8vw;
    font-weight: 600;
    line-height: 1;
}

#section5 .profile__inner .right .contents__wrap .contents .contents__text {
    width: 80%;
}

.contents__wrap .contents .contents__text .contents__title {
    font-size: 1.1vw;
}

#section5 .profile__inner .right .contents__wrap .contents .contents__text p {
    width: 100%;
    max-width: 700px;
    font-family: var(--font-Roboto);
}

.contents__wrap .contents .contents__text .contents__desc {
    font-size: 0.83vw;
    line-height: 1.8;
    color: var(--font-color);
    font-family: var(--font-iro);
}

#section5 .profile__inner .right .profile__more {
    width: 30%;
    margin-top: 150px;
}

#section5 .profile__inner .right .profile__more a {
    position: relative;
    display: flex;
    font-family: var(--font-Roboto);
    transition: all 0.2s;
    color: var(--black600);
}

#section5 .profile__inner .right .profile__more a::before,
#section5 .profile__inner .right .profile__more a::after {
    content: "";
    position: absolute;
    width: calc(100% - 1px);
    height: 2px;
    left: 1%;
    bottom: -23%;
}

#section5 .profile__inner .right .profile__more a:before {
    background-color: var(--white100);
}

#section5 .profile__inner .right .profile__more a:after {
    background-color: var(--black600);
    transform: scaleX(0);
    transition: all 0.3s;
}

#section5 .profile__inner .right .profile__more a:hover {
    color: var(--black100);
}

#section5 .profile__inner .right .profile__more a:hover::after {
    transform: scaleX(1);
}

#section5 .profile__inner .right .profile__more a svg {
    position: absolute;
    right: 2%;
    top: 24%;

    animation: arrowAnimation2 1.4s infinite;
}

#section5 .profile__inner .right .profile__more a svg polygon {
    fill: var(--black600);
}

#section5 .profile__inner .right .profile__more a:hover polygon {
    fill: var(--black100);
}
