#section5 {
    padding-top: 150px;
<<<<<<< HEAD
}
#section5 .profile__inner {
    padding: 0 50px;
}
#section5 .profile__inner .profile__title {
}
#section5 .profile__inner .profile__title h4 {
    font-size: 9vw;
    line-height: 105%;
    letter-spacing: 5px;
    font-weight: 900;
    /* position: relative; */
}

#section5 .profile__inner .profile__flex {
    display: flex;
}

.profile__flex .profile__left {
    width: 40%;
    height: calc(100% - 2px);
}
.profile__flex .profile__img {
    
    width: calc(100% - 2px);
    /* height: 50.23vw; */
    /* width: 37.7vw; */
    height: calc(100% - 2px);
    border-radius: 10px;
}
.profile__flex .profile__img img {
   
}

.profile__flex .profile__right {
    width: 50%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* padding: 3% 0; */
}

.profile__flex .profile__right .profile {
    display: flex;
    /* padding-bottom: 10%; */
}
.profile__flex .profile__right .profile p {
    
}
.profile .profile__num {
    width: 14%;
    font-size: 1.1vw;
    font-family: var(--font-Roboto);
    font-weight: bold;
=======
>>>>>>> 3399f74017efed0204b7b5a6d734ccff4d1ae686
}
.profile .profile__text {
    width: 86%;
}
.profile .profile__text .profile__subTit {
    font-size: 1vw;
    font-family: var(--font-Roboto);
    font-weight: bold;
    margin-bottom: 3%;
}

<<<<<<< HEAD
.profile .profile__text .profile__subDe {
    color: var(--desc-color);
    font-family: var(--font-iro);
    font-size: 0.9vw;
    width: 80%;
    line-height: 1.9;
}

.profile__right .profile__more {
    width: 100%;
    padding: 0% 15% 0% 14%;
}


@media (max-width: 1100px) {

}






/* a link */
.profile__right .profile__more a {
    display: flex;
    position: relative;
    pointer-events: auto;
    
    width: 20vw;
}
.profile__right .profile__more a p {
    line-height: 1.6;
    font-size: 0.75vw;
    color: #202020;
    font-weight: normal;
    letter-spacing: 1px;
    font-family: var(--font-Roboto);
    font-weight: 400;
}

.profile__right .profile__more a svg {
    position: absolute;
    right: 0.5%;
    bottom: 4%;
    width: 1.5vw;
    height: 1vw;
}
.profile__right .profile__more a svg path {
  
}

.profile__right .profile__more a::before,
.profile__right .profile__more a::after {
=======
#section5 .profile__inner {
    padding: 0 50px;
}

#section5 .profile__inner .propile__title {
    margin-bottom: 8.5%;
}
#section5 .profile__inner .propile__title .profile__tit {
    font-size: 9vw;
    line-height: 105%;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 900;
}

.profile__flex {
    display: flex;
}

.profile__flex .left {
    width: 40%;
}
.profile__img {}
.profile__flex .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.profile__flex .right .profile {
    display: flex;
}
.profile__flex .right .profile .sub__numb {
    width: 10%;
    font-family: var(--font-Roboto);
    font-size: 1.15vw;
    font-weight: bold;
}
.profile__flex .right .profile  .sub__text {
    width: 90%;
}
.profile__flex .right .profile  .sub__text .sub__title {
    font-size: 1.15vw;
    margin-bottom: 2%;
    font-family: var(--font-Roboto);
}
.profile__flex .right .profile  .sub__text .sub__desc {
    font-size: 0.9vw;
    font-family: var(--font-iro);
    color: var(--desc-color);
    width: 90%;
    line-height: 1.7;
}
.profile__more {
    padding-left: 11%;
}

.profile__more a {
    display: flex;
    position: relative;
    pointer-events: auto;
    letter-spacing: 1px;
    font-family: var(--font-Roboto);
    width: 15vw;
    line-height: 1.6;
    color: #202020;
    font-weight: normal;
}
.profile__more a p {
    font-size: 0.8vw;
}
.profile__more a svg {
    position: absolute;
    right: 1%;
    bottom: -16%;
    width: 1.35vw;
    height:1.5vw;
}
.profile__more a::before,
.profile__more a::after {
>>>>>>> 3399f74017efed0204b7b5a6d734ccff4d1ae686
    content: "";
    position: absolute;
    background-color: #000;
    height: 1px;
    width: 100%;
    left: 0;
    right: 0;
    top: 103%;
    transform: scaleX(1); /* 초기 상태를 1로 설정 */
    transform-origin: left; /* 변환의 기준점을 왼쪽으로 설정 */
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86); /* 기본 상태에 transition 추가 */
}

<<<<<<< HEAD
.profile__right .profile__more a:hover::before {
=======
.profile__more a:hover::before {
>>>>>>> 3399f74017efed0204b7b5a6d734ccff4d1ae686
    transform: scaleX(0); /* hover 상태에서 scaleX를 0으로 설정 */
    transform-origin: right; /* hover 상태에서 변환의 기준점을 오른쪽으로 설정 */
    transition-delay: 0s;
}
<<<<<<< HEAD
.profile__right .profile__more a:hover::after {
=======
.profile__more a:hover::after {
>>>>>>> 3399f74017efed0204b7b5a6d734ccff4d1ae686
    transform: scaleX(0); /* hover 상태에서 scaleX를 0으로 설정 */
    transform-origin: right; /* hover 상태에서 변환의 기준점을 오른쪽으로 설정 */
    transition-delay: 0.1s; /* delay를 추가하여 순차적으로 보이게 함 */
}
<<<<<<< HEAD
/*  */
=======
/*  */
>>>>>>> 3399f74017efed0204b7b5a6d734ccff4d1ae686
