@import "../setting/animation.css";
#section2 {
    padding: 0 0 200px;
    position: relative;
    overflow: hidden;
}
.loop__slide__container {
    display: flex;
    width: max-content;
    overflow: hidden;
    padding: 100px 0;
}
.loop__slide__group {
    display: flex;
}
.loop__slide {
   width: 41.7vw;
   height: 26vw;
   margin-right: 30px;
}
.loop__slide__group > img {
    border-radius: 5px;
}
/* #section2 .imgWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 200%;
    margin-left: -50%;
    white-space: nowrap;
}

#section2 .imgWrap > div {
    width: 800px;
    height: 500px;
    margin: 10px;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
}

#section2 .imgWrap > div:nth-child(1) {
    background-image: url(https://images.unsplash.com/photo-1635438909544-3f1e87c206eb?q=80&w=4074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#section2 .imgWrap > div:nth-child(2) {
    background-image: url(https://images.unsplash.com/photo-1702221422565-60f734cd90b1?q=80&w=4000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#section2 .imgWrap > div:nth-child(3) {
    background-image: url(https://images.unsplash.com/photo-1683009427619-a1a11b799e05?q=80&w=4170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
} */

.relativeBox{
    position: relative;
    background-color: #ccc;
    width: 100px;
    height: 100px;
}
.text__flex {
    display: flex;  
    padding-top: 3%;
}
.text__flex .left {
    width: 10%;
    position: relative;
}
.text__flex .right {
    width: 90%;
}

.text-title p {
    padding: 0% 5% 0 10%;
    font-family: "GmarketSans";
    font-weight: 900;
    font-size: 4vw;
    line-height: 1.2;
    text-align: right;
}
#desc1-1 {
    padding-top: 0;
}

.text-title .svg {
}

.text-title .svg svg {
    animation: arrowAnimation 1.4s infinite;
}

.text-title .svg svg {
    width: 4.5vw;
    height: 4.5vw;
}

.text-title .desc2 a,
.text-title .desc2 {
    font-family: "IropkeBatang";
    line-height: 1.6;
    font-size: 1.13rem;
    color: #202020;
    font-weight: normal;
}
.text-title .right .first {
    padding-top: 3%;
}
.text-title .right .desc2 i {
    font-style: normal;
    text-decoration: underline;
    text-underline-position: under;
    display: block;
    margin-bottom: 20px;
}

.text-title .right .desc2 a {
    position: relative;
    pointer-events: auto;
    letter-spacing: 1px;
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    width: 18rem;
    text-align: left;
    color: var(--desc-color);
}
.text-title .right .desc2 a svg {
    position: absolute;
    right: 0%;
    top: 30%;
    fill: var(--desc-color);
}
.text-title .right .desc2 a svg path {
    fill: var(--desc-color);
}
.text-title .right .desc2 a:hover svg path, 
.text-title .right .desc2 a:hover {
    color: black;
    fill: black
}
.text-title .desc2 a > div {
    position: absolute;
    right: 0%;
    top: 30%;
    width: 20px;
    height: 2px;
    background-color: #000;
}
.text-title .desc2 a::before,
.text-title .desc2 a::after {
    content: "";
    position: absolute;
    background-color: #000;
    height: 1px;
    width: 100%;
    left: 0;
    right: 0;
    top: 103%;
    transform: scaleX(1); /* 초기 상태를 1로 설정 */
    transform-origin: left; /* 변환의 기준점을 왼쪽으로 설정 */
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86); /* 기본 상태에 transition 추가 */
}

.text-title .desc2 a:hover::before {
    transform: scaleX(0); /* hover 상태에서 scaleX를 0으로 설정 */
    transform-origin: right; /* hover 상태에서 변환의 기준점을 오른쪽으로 설정 */
    transition-delay: 0s;
}
.text-title .desc2 a:hover::after {
    transform: scaleX(0); /* hover 상태에서 scaleX를 0으로 설정 */
    transform-origin: right; /* hover 상태에서 변환의 기준점을 오른쪽으로 설정 */
    transition-delay: 0.1s; /* delay를 추가하여 순차적으로 보이게 함 */
}
