@import "../setting/animation.css";
#section3 {
    padding: 350px 50px 50px 50px;
}
#section3 .work__inner .work__wrap {
}
#section3 .work__inner .work__wrap .work__title {
    position: relative;
}
.sec3__text {
    font-family: "GmarketSans";
    text-align: left;
    font-size: 9vw;
    line-height: 105%;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
}
.sec3__text .img {
    width: 12vw;
    height: 7.4vw;
    position: absolute;
    left: 0.6vw;
    top: 0.2vw;
}
.sec3__text .img > div img {
    border-radius: 10px;
    width: 12vw;
    height: 7.4vw;
}



.right .desc2 a,
.right .desc2 {
    padding: 3% 5% 0 10%;
    text-align: right;
    font-family: "IropkeBatang";
    line-height: 1.6;
    font-size: 1.13rem;
    color: #202020;
    font-weight: normal;
}

.right .desc2 a {
    position: relative;
    pointer-events: auto;
    letter-spacing: 1px;
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 0.9rem;
    width: 10.5rem;
    padding: 0;
}
.right .desc2 a svg {
    position: absolute;
    right: 0%;
    top: 30%;
}
.right .desc2 a::before,
.right .desc2 a::after {
    content: "";
    position: absolute;
    background-color: #000;
    height: 1px;
    width: 100%;
    left: 0;
    right: 0;
    top: 103%;
    transform: scaleX(1); /* 초기 상태를 1로 설정 */
    transform-origin: left; /* 변환의 기준점을 왼쪽으로 설정 */
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86); /* 기본 상태에 transition 추가 */
}

.right .desc2 a:hover::before {
    transform: scaleX(0); /* hover 상태에서 scaleX를 0으로 설정 */
    transform-origin: right; /* hover 상태에서 변환의 기준점을 오른쪽으로 설정 */
    transition-delay: 0s;
}
.right .desc2 a:hover::after {
    transform: scaleX(0); /* hover 상태에서 scaleX를 0으로 설정 */
    transform-origin: right; /* hover 상태에서 변환의 기준점을 오른쪽으로 설정 */
    transition-delay: 0.1s; /* delay를 추가하여 순차적으로 보이게 함 */
}
/*  */



@media (max-width: 700px) {
    
    /* #section3 {
        padding: 120px 2px 50px 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #section3 br {
        display: none;
    }

    .sec3__text {
    }

    .sec3__intro p {
        display: none;
    } */
}