#section4 {
    padding-top: 150px;
}

#section4 .project__wrap {
    padding: 0 50px;
}

#section4 .project__wrap .project {
}

#section4 .project__wrap .project__flex {
    background-color: #ccc;
    display: flex;
}
#section4 .project__wrap .project__flex .left {
    width: 30%;
}
#section4 .project__wrap .project__flex .left .num {
    font-size: 20vw;
    font-family: 'Malgun Gothic';
    font-weight: 900;
    line-height: 0.6;
}

#section4 .project__wrap .project__flex .middle {
    width: 20%;
}

#section4 .project__wrap .project__flex .right {
    width: 50%;
}
#section4 .project__wrap .project__flex .right .reveal {

    font-family: 'Malgun Gothic';
    font-size: 4vw;
    margin-top: -0.8vw;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -2px;
    text-transform: uppercase;
}

