#section1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 150px 50px 50px 50px;
}

.sec1__text {
    font-family: 'GmarketSans';
    text-align: left;
    font-size: 9vw;
    line-height: 105%;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
}

.sec1__text .img {
    width: 12vw;
    height: 7.4vw;
    background-image: url(https:////source.unsplash.com/500x500/?water);
    background-size: cover;
    background-position: center;
    display: block;
    position: absolute;
    left: 0.6vw;
    top: 0.2vw;
    border-radius: 10px;
}


.sec1__intro {
    font-family: 'IropkeBatang';
    line-height: 1.6;
}

@media (max-width: 700px) {
    
    #section1 {
        padding: 120px 2px 50px 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #section1 br {
        display: none;
    }

    .sec1__text {
    }

    .sec1__intro p {
        display: none;
    }
}