@import "../setting/animation.css";
#section3 {
    padding: 150px 0px 50px 50px !important;
    border-top: 1px solid var(--line-color);
}
#section3 .work__inner .work__wrap {
}
#section3 .work__inner .work__wrap .work__title {
    position: relative;
}
.sec3__text {
    text-align: left;
    font-size: 9vw;
    line-height: 105%;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
}
.sec3__text .HIDDEN:first-child {
    width: 12vw;
    height: 7.4vw;
    position: absolute;
    left: 0.6vw;
    top: 0.2vw;
    border-radius: 10px;
}
.sec3__text .HIDDEN:first-child .img {
    background-image: url(https:////source.unsplash.com/500x500/?water);
    background-size: cover;
    background-position: center;
    width: inherit;
    height: inherit;
}

#section3 .sec3__intro .right .desc2 a,
#section3 .sec3__intro .right .desc2 {
    padding: 3% 4.3% 0 10%;
    text-align: right;
    font-family: "IropkeBatang";
    line-height: 1.6;
    font-size: 1.13rem;
    color: #202020;
    font-weight: normal;
}

#section3 .sec3__intro .right .desc2 a {
    position: relative;
    pointer-events: auto;
    letter-spacing: 2px;
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 1rem;
    width: 10.5rem;
    padding: 0;
    color: var(--desc-color);
}

#section3 .right .desc2 a svg {
    position: absolute;
    right: 0%;
    top: 30%;
}

#section3 .right .desc2 a svg {
    fill: var(--desc-color);
}

#section3 .right .desc2 a::before,
#section3 .right .desc2 a::after {
    content: "";
    position: absolute;
    background-color: var(--desc-color);
    height: 1px;
    width: 100%;
    left: 0;
    top: 150%;
    transform: scaleX(1); /* 초기 상태를 1로 설정 */
    transform-origin: left; /* 변환의 기준점을 왼쪽으로 설정 */
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86); /* 기본 상태에 transition 추가 */
}
#section3 .right .desc2 a:hover {
    color: black;
}
#section3 .right .desc2 a:hover::before {
    transform: scaleX(0); /* hover 상태에서 scaleX를 0으로 설정 */
    transform-origin: right; /* hover 상태에서 변환의 기준점을 오른쪽으로 설정 */
    transition-delay: 0s;
}
#section3 .right .desc2 a:hover::after {
    transform: scaleX(0); /* hover 상태에서 scaleX를 0으로 설정 */
    transform-origin: right; /* hover 상태에서 변환의 기준점을 오른쪽으로 설정 */
    transition-delay: 0.1s; /* delay를 추가하여 순차적으로 보이게 함 */
}
/*  */

@media (max-width: 850px) {
    #section3 {
        padding: 80px 2px 50px 13.5% !important;
    }

    #section3 .sec3__intro .right {
        width: 90%;
    }
    #section3 .sec3__intro .right .desc2 a,
    #section3 .sec3__intro .right .desc2 {
        padding-left: 2%;
        text-align: start;
    }
    #section3 .sec3__intro .right .desc2 {
        font-size: 1rem;
    }
    #section3 .sec3__intro .right .desc2 a {
        font-size: 0.9rem;
        padding-left: 0.7%;
    }
    #section3 .right .desc2 a::before,
    #section3 .right .desc2 a::after {
        left: 1%;
    }
}
@media (max-width: 500px) {
    #section3 {
        padding-bottom: 0 !important;
    }
    #section3 .sec3__intro .right {display: none;}
}