#section4 {
    padding-top: 100px;
}

.project__wrap {
    display: flex;
    position: sticky;
    top: 100px;
    padding: 2% 5%;
    height: 100vh;
    background-color: #fff;
    border-top: 1px solid var(--line-color);
    border-bottom: 1px solid var(--line-color);
}

.numWrap {
    width: 16%;
    height: 300px;
    margin-top: -1vw;
}

.num {
    font-size: 15vw;
    font-weight: 900;
    line-height: 1.4;
}

.subTitle {
    width: 30%;
    height: 30px;
    margin-top: 3vw;
    margin-left: 1vw;
    font-family: var(--font-iro);
    text-align: center;
}

.titWrap {
    width: 55%;
    margin-top: 2vw;
    margin-left: 1vw;
}

.h4 {
    font-size: 4vw;
    line-height: 1.3;
    font-weight: 100;
    text-transform: capitalize;
}

.imgWrap {
    display: flex;
    margin-top: 5%;
}

.imgWrap .img {
    max-width: 50%;
    max-height: 300px;
    width: 24.5vw;
    /* height: 300px; */
    height: 17vw;
    background-image: url(../../img/proj01.png);
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
}

.imgWrap .desc {
    padding: 1% 0% 2% 4%;
    width: 50%;
    line-height: 1.6;
    letter-spacing: 1px;
    font-family: var(--font-iro);
    font-size: 0.85vw;
}

.imgWrap .desc .mainDesc {
    padding: 30px 0 15% 0;
}

.imgWrap .desc p:nth-child(3) {
    margin-top: 16%;
}
.imgWrap .desc .bold a {
    display: inline-block;
}

.imgWrap .desc .bold a:hover {
    transition: all 0.2s;
    text-decoration: underline;
    text-underline-position: under;
}

@media (max-width: 1100px) {
    .imgWrap {
        flex-direction: column;
    }
    .imgWrap .img {
        max-width: 100% !important;
        width: 90%;
        height: 27vw;
    }
    .imgWrap .desc {
        width: 90%;
        padding-left: 0;
        padding-top: 4%;
        font-size: 1.43vw;
    }
    .imgWrap .desc .mainDesc {
        padding: 20px 0 20px 0;
    }
    
}
@media (max-width: 850px) {
    .imgWrap .img {
        margin: 5% 0 10% 0;
    }
    .imgWrap .desc {
        /* padding-top: 0%; */
        font-size: 1.7vw;
    }
    .imgWrap .desc .mainDesc {
        /* padding-top: 0; */
    }
    
    /* .imgWrap .desc p:nth-child(3) {
    margin-top: 16%;
} */
}

@media (max-width: 650px) {
    .project__wrap {
        display: block;
    }
    .titWrap .h4 {
        font-size: 7.6vw;
    }
    .numWrap {
        display: none;
    }
    .subTitle {
        display: none;
        /* width: 5%; */
    }
    .titWrap {
        width: 100%;
    }
    .imgWrap {
        margin-top: 2%;
    }
    .imgWrap .img {
        margin: 0 0 3% 0;
        width: 100%;
        height: 60vw;
        height: 300px;
    }
    .imgWrap .desc {
        font-size: 1.1rem;
    }
    
    .imgWrap .desc p:nth-child(3) {
        margin-top: 0 !important;
    }
    .imgWrap .desc .mainDesc {
        padding: 10% 0;
    }
    .imgWrap .desc .desc__flex__box {
        display: flex;
        padding: 0;
    }
    .imgWrap .desc .desc__flex__box p:first-child {
        padding-right: 6%;
    }
}

@media (max-width: 500px) {
    #section4 {
        padding-top: 0;
    }
}
