#section5 {
    padding-top: 150px;
}

#section5 .profile__inner {
    padding: 0 50px;
}

#section5 .profile__inner .propile__title {
    margin-bottom: 150px;
}
#section5 .profile__inner .propile__title .profile__tit {
    font-size: 9vw;
    line-height: 105%;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 900;
}

.profile__flex {
    display: flex;
}

.profile__flex .left {
    width: 40%;
}
.profile__img {}
.profile__flex .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.profile__flex .right .profile {
    display: flex;
}
.profile__flex .right .profile .sub__numb {
    width: 10%;
    font-family: var(--font-Roboto);
    font-size: 1.15vw;
    font-weight: bold;
}
.profile__flex .right .profile  .sub__text {
    width: 90%;
}
.profile__flex .right .profile  .sub__text .sub__title {
    font-size: 1.15vw;
    margin-bottom: 2%;
    font-family: var(--font-Roboto);
}
.profile__flex .right .profile  .sub__text .sub__desc {
    font-size: 0.9vw;
    font-family: var(--font-iro);
    color: var(--desc-color);
    width: 90%;
    line-height: 1.7;
}
.profile__more {
    width: 50%;
    padding-left: 10%;
}
.profile__more a {
    position: relative;
    pointer-events: auto;
    letter-spacing: 1px;
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 0.9rem;
    width: 10.5rem;
    padding: 0;
    line-height: 1.6;
    color: #202020;
    font-weight: normal;
}

.profile__more a svg {
    position: absolute;
    right: 0%;
    top: 30%;
}
.profile__more a::before,
.profile__more a::after {
    content: "";
    position: absolute;
    background-color: #000;
    height: 1px;
    width: 100%;
    left: 0;
    right: 0;
    top: 103%;
    transform: scaleX(1); /* 초기 상태를 1로 설정 */
    transform-origin: left; /* 변환의 기준점을 왼쪽으로 설정 */
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86); /* 기본 상태에 transition 추가 */
}

.profile__more a:hover::before {
    transform: scaleX(0); /* hover 상태에서 scaleX를 0으로 설정 */
    transform-origin: right; /* hover 상태에서 변환의 기준점을 오른쪽으로 설정 */
    transition-delay: 0s;
}
.profile__more a:hover::after {
    transform: scaleX(0); /* hover 상태에서 scaleX를 0으로 설정 */
    transform-origin: right; /* hover 상태에서 변환의 기준점을 오른쪽으로 설정 */
    transition-delay: 0.1s; /* delay를 추가하여 순차적으로 보이게 함 */
}
/*  */