#section4 {
    padding-top: 230px;
}

#section4 .project__wrap {
}

#section4 .project__wrap .project {
    padding: 10px 50px;
    position: sticky;
    top: 130px;
    height: 100vh;
    align-items: flex-start;
    background-color: #fff;
}

#section4 .project__wrap .project__flex {
    display: flex;
    justify-content: space-between;
}

#section4 .project__wrap .project__flex .left {
    width: 15%;
}

#section4 .project__wrap .project__flex .left .num {
    font-size: 15vw;
    font-weight: 900;
    line-height: 1.39;
    margin-top: -0.84vw;
}

#section4 .project__wrap .project__flex .middle {
    width: 30%;
    font-size: 0.8vw;
    text-align: center;
}

#section4 .project__wrap .project__flex .right {
    width: 55%;
}
#section4 .project__wrap .project__flex .right .reveal {
    font-size: 3.8vw;
    margin-top: -0.3vw;
    line-height: 1.3;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: -1px;
}

#section4 .project__wrap .project__flex .right .img {
    margin-top: 3%;
}

#section4 .project__wrap .project__flex .right .img img {
    width: 23.5vw;
    height: 16vw;
}

#section4 .right .item__desc {
    width: 43vw;
}

#section4 .right .item__desc .desc__wrap {
    border-top: 1px solid var(--line-color);
    border-bottom: 1px solid var(--line-color);
    padding: 1.3rem 0;
    box-sizing: border-box;
    cursor: pointer;
}

#section4 .right .item__desc .desc__wrap:nth-child(2) {
    border-top: none;
}

.right .item__desc .desc__wrap .flex__desc {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.right .item__desc .desc__wrap .flex__desc span {
    font-size: 1.2vw;
}

.right .item__desc .desc__wrap .flex__desc .icon__plus {
    position: absolute;
    right: 1%;
    top: 34%;
    transition: all 0.3s ease-in-out;
}

.right .item__desc .desc__wrap .flex__desc .icon__plus.rotate {
    transform: rotate(45deg);
}
.right .item__desc .desc__wrap .hidden__desc {
    font-size: 1vw;
    font-weight: 300;
    padding-top: 5px;
    box-sizing: border-box;
    opacity: 0;
    max-height: 0;
    transition: all 0.03s ease-in-out;
    overflow: hidden;
}

.right .item__desc .desc__wrap .hidden__desc.visible {
    opacity: 1;
    max-height: 150px;
    transition: all 0.5s ease-in-out;
}
.right .item__desc .desc__wrap .hidden__desc span {
    font-size: 1vw;
    font-family: var(--font-s-core);
    color: var(--desc-color);
}

@media (max-width: 700px) {
    .right {
        margin-top: 0;
    }
}
